body{
	font-family: 'Raleway', sans-serif;
}

h1{
	font-weight: 300;
	letter-spacing: 1px;
}

.wrapper{
	width: 600px;
	margin-left: auto ;
	margin-right: auto ;
}

.hidden{
	display: none;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li{
	width: 30px;
	height: 30px;
	background-color: #777;
	color: #FFFFFF;
	display: block;
	text-align: center;
	float: left;
	margin: 10px 10px 0px 0px;
	padding: 0px 10px 20px 10px;
}

.selected{
	animation: fadeBlack 1s linear;
	background-color: #000000
}

@keyframes fadeBlack {
	0% { background-color: #777777}
	100% { background-color: #000000}
}
