h1{
	color: #FF00FF;
	font-family: Verdana, sans-serif;
}

.mydiv{
	width: 400px;
	background-color: #9a2345;
	color: white;
	border: dashed 3px #000000;
	margin: 20px;
	padding: 10 px 10px 10px 10px;
}

.mydiv{
	color: #999999;
}

.relative{
	position: relative;
	left: 200px;
}

.fixed{
	position: fixed;
	bottom: 0;
	left: 0;
	width:100%;
	margin: 0;
	opacity:0.5;
}

.absolute{
	position: absolute;
	top: 85%;
	right: 10%;
}

.blue{
	background-color: #0000FF;
}
.red{
	background-color: #FF0000;
}

